.heading{
    color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-right: 97px;
margin-bottom: 32px;
margin-top: 197px;
margin-left: 240px;
}
.para{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 32px;
margin-bottom: 32px;
margin-left: 240px;
margin-right: 171px;
}
.btn1{border-radius: 8px;
    background: #E55473;
    color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 32px;
margin-bottom: 147px;
margin-left: 240px;
margin-right: 628px;
text-align: center;
padding: 20px 43px;

}
.nami{
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
height: 850px;
flex-shrink: 0;
display: flex;
}
.h-img{
    margin-top: 50px;
    margin-left: 97px;
    margin-right: 240px;
    
}
/* Our Featured Flowers section*/
.o-h{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 178px;
margin-bottom: 24px;
margin-left: 664px;
margin-right: 664px;
}
.o-p{
    
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 24px;
margin-bottom: 48px;
margin-left: 663px;
margin-right: 663px;
}
.bg-images{
    margin-left: 220px;
    margin-right: 220px;
    margin-top: 48px;
    margin-bottom: 32px;
    display: flex;
    
}
.bg2{
    margin-left: 24px;
    margin-right: 24px;
    position: relative;
}
.bg1{
    
    position: relative;
}
.f1{
    position: absolute;
    
    
}
.f2{
    position: absolute;
}
.bg3{
    position: relative;
}
.f3{
    position: absolute;
}
.p{
    text-align: center;
}
.ext{
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
margin: 128px 240px;
display: flex;
}
.i1{
    margin-left: 175px;
    margin-right: 100px;
    margin-bottom: 87px;
    margin-top: 87px;
}
.i2{
    margin: 87px 100px;
}
.i3{
    margin-top: 87px;
    margin-bottom: 87px;
    margin-left: 100px;
    margin-right: 175px;
}